body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body p {
	font-size: 1.2em;
}

a, a:visited {
	color: #00A186;
	font-weight: 500;
	text-decoration: underline;
}

.section {
	background-color: #E2EFDE;
	color: #374B4A;
	font-family: 'Roboto Slab', serif;
	padding: 2%;
	position: relative;
	text-align: center;
	z-index:1000;
}

#question {
	color: #093A3E;
	font-size: 1.5em;
}

.centered {
	text-align: center;
}

.text-block {
	font-family: 'Roboto', sans-serif;
	padding: 2% 10% 2% 10%;
	width: 80%;
}

.chart {
	/*margin-left: 10%;*/
}

.wrapper{
	display: flex;
	width: 80%;
	padding: 0 10% 0 10%;
}

#topic-cloud {
	height: 500px;
	padding: 1em;
}

#topic-proposal-number-wrapper {
	flex-grow: 1;
	display: flex;
  	justify-content: center;
  	text-align: center;
  	background-color: #eee;
  	margin: 1em;
}

#topic-proposal-number-wrapper > h1 {
	align-self: center;
	text-align: center;
	color: #374B4A;
}

#topic-cloud > span:hover, #topic-cloud > span::selection{
	background-color: #E2EFDE;
    color: #374B4A;
    cursor: pointer;
}

#topic-proposal-number {
	text-align: center;
}

#age-analysis {
	flex-grow: 1;
	padding: 2em;
}
